.tb-post {
    display: grid;
    gap: 10px;
    margin-left: 20px;
    @media screen and (max-width: 1000px) {
        margin-left: 0px;
    }
}
.tb-center {
    display: flex;
    gap: 80px;
    @media screen and (max-width: 1200px) {
        gap: 40px;
    }
    @media screen and (max-width: 1000px) {
        gap: 20px;
    }
}
