.profile-sidebar {
    width: 30%;
    &_content {
        background-color: var(--backgroundColorSecond);
        border-radius: 12px;
    }
    &_list {
        display: grid;
        gap: 15px;
    }
    &_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        border-top: 1px solid var(--tbBorderPrimary);
        border-radius: 12px;
        padding: 14px 26px;
        gap: 15px;
        color: var(--tbColorTertiary);
    }
    &_ref {
        background-color: var(--click-href);
    }
}
.ps_item {
    &-icon {
        color: var(--tbColorTertiary);
        font-size: 20px;
    }
    &-span {
        font-size: 18px;
        font-weight: 400;
    }
    &_exit {
        align-items: center;
        font-family: 700;
    }
}
